.lead {
  width: 984px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
    
}

@media screen and (max-width: 1279px) {
  .lead { 
    width: 928px;
  }
}
  
@media screen and (max-width: 1024px) {
  .lead { 
    width: 768px;
  }
}
  
@media screen and (max-width: 768px) {
  .lead { 
    width: 320px;
  }
}