.cover__subtitle {
  max-width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  padding: 34px 0 246px;
  color: #fff;
  
 
}

@media screen and (max-width: 1279px) {
  .cover__subtitle {
    padding: 32px 0 198px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    padding: 33px 0 117px;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 1.14;
    padding: 17px 0 35px; 
    
  }
}