.intro__text {
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
  font-style: normal;
  padding-top: 40px;
  width: 690px;
  min-height: 208px;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    line-height: 26px;
    width: 768px;
    padding: 40px 0 0 24px;
  }
}
@media screen and (max-width: 767px) {
  .intro__text {
    padding: 40px 0 0;
    width: 288px;
  }
}