.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #fff;
  max-width: 456px;
}

@media screen and (max-width: 1024px) {
  .place__link {
    max-width: 352px;
  }
}

@media screen and (max-width: 768px) {
  .place__link {
    max-width: 288px;
  }
}
