.cover__background {
  background: center center no-repeat url('../../../images/cover-trains.jpg');
  background-size: cover;
  min-height: 740px;
  width: 100%;
  position: relative;
  z-index: 0;
  text-decoration: none;
}

.cover__background::before {
  content: "";
  position: absolute;
  background: rgb(42, 44, 47, .3);
  max-height: 100%;
  transition: all .5s;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover__background:hover::before {
  background: rgb(42, 44, 47, .8);
}

@media screen and (max-width: 1279px) {
  .cover__background {
    max-width: 1023px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    max-width: 767px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    max-width: 320px;
    min-height: 200px;
  }
}