.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  min-width: 76px;
  padding: 12px 0 0;
}

@media screen and (max-width: 767px) {
  .header__list {
    min-width: 62px;
    padding: 10px 0 0;
  }
}
